/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');



/*Asterisk wildcard selector*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Generic Styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Crimson Pro', sans-serif;
}
/* header */
header{
    background-color: green;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Galindo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;

}
/*main content*/

main{
    background-color: brown;
    /*Pull the main content down*/
    flex: 1 0 auto;
}
/* footer */
footer{
    background-color: green;
}