
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');



/*Asterisk wildcard selector*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Generic Styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Crimson Pro', sans-serif;
}

/* header */
header{
    background-color: rgb(0, 229, 255);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Galindo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;

}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

menu > li {
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* nav bar position with dropdown toggle */

nav{
    position: absolute;
    background-color:  rgb(0, 229, 255);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*nav-toggle*/

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/*main content*/
main{
    background-color: white;
    /*Pull the main content down*/
    flex: 1 0 auto;
    margin-top: 80px;
}
/* Footer */
footer{
    background-color:  rgb(0, 229, 255);
    padding: 20px;
    color: black;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 160%;
}
#add{
    font-size: 70% ;
}
#socialmedia-networks{
    text-align: right;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;

}
#socialmedia-networks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#socialmedia-networks a {
    text-decoration: none;
    color: rgb(201, 40, 67); /* Set text color */
}

#socialmedia-networks a i {
    font-size: 24px; /* Adjust icon size */
}

#socialmedia-networks a + a {
    margin-left: 20px; /* Add spacing between social media links */
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 230px;
    }
    
        
    }
    


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
      
    }
    #add{
        font-size: 130%;
    }
    #socialmedia-networks a i {
        font-size: 42px; /* Adjust icon size */
    }
    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 80px;
    }

   
} 

/* Media query- tablets and larger(768px and up)
@media screen and (min-width: 768px){
    /*Header
    
        nav{
            display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding-right: 1rem;

        }
        #menu{
            display: flex;
        }
        #menu > li{
            padding-left: 1rem;
        }
        .nav-toggle-label{
            display: none;
        }
        #logo{
            font-size: 280%;
            line-height: 75px;
            margin: 0 0.5rem;
        }
        /* main content-push down the main again for larger screens
        main{
            margin-top: 250px;
        }
    }
/*Larger devices (laptops and desktops, 992px and up) 
@media screen and (min-width: 992px) {
    #menu a:hover {
         border-bottom: 1px solid green;
        }
} */
